
* {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
}

html {
height: 100%;
width: 100%;
}

body {
height: 100%;
width: 100%;
}

main {
  display: flex;
  height: 100%;
  width: 100%;
  letter-spacing: 0.025em;
  font-size: 20px;
}
.player-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 25%;
  color: #006450;
}
.game-play-box {
  font-size: 16px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px #23430C,
				  1px -1px 0 #23430C,
				  -1px -1px 0 #23430C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%
}
.gameboard {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  height: 375px;
  width: 375px;
  border-radius: 4%;
}

.game-board-square {
 border: solid;
 height: 29%;
 width: 29%;
 margin: 1%;
 border-radius: 4%;
 font-size: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.game-board-square:hover {
  cursor: crosshair;
}


@keyframes glowing {
  0% {
    background-image: linear-gradient(#d30472,#af5686);
    box-shadow: 0 0 10px #ffb997;
  }
  100% {
    background-image: linear-gradient(#af5686,#d30472);
    box-shadow: 0 0 20px #ff9334;
  }
}

.customize-play {
  background: #ffb997;
  height: 45px;
  width: 100%;
  font: 1rem 'Fira Sans', sans-serif;
  font-weight: bolder;
  font-style: oblique;
  color: #ff9334;
  border: 0px;
  position: absolute;
  bottom: 0px;
  animation: glowing 1s infinite;
}

.winner {
  animation-name: fadeFontColorInOut;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.get-started {
animation: glowing 1s infinite;
}

.new-game {
  border-radius: 2% 50%;
  height: 90px;
  width: 120px;
  margin: 5%;
  border: 2px solid #ffdbbc;
	color: #ffdbbc;
  font-size: 25px;
  font-weight: 10;
}

.btn:hover {
  transition-timing: ease-in-out;
  transition: all 0.4s;
  filter: brightness(200%);
  cursor: pointer;
}

.spin-button {
  transition-timing-function: ease-in;
  transition-duration: 2s;
  transform: rotate(720deg);
}

.spin-board {
  transition-timing-function: linear;
  transition-duration: 1s;
  transform: rotate(360deg);
}

.reset-board {
		animation-name: fadeInOut;
    animation-duration: 2s;
    animation-iteration-count: 1;
	}
	@keyframes fadeInOut{
		0%		{ background-color: #ff9334;}
		40%		{ background-color: #F67E7D;}
		90%	{ background-color: #ff9334;}
	}

  @keyframes fadeFontColorInOut{
		0%		{ color: #ffdbbc;}
		40%		{
            color: #ff9334;
            font-size: 50px;
            text-shadow: -1px 1px 2px #ffdbbc,
                        1px 1px 2px #ffdbbc,
                        1px -1px 0 #ffdbbc,
                        -1px -1px 0 #ffdbbc;}
		100%	{ color: #ffdbbc;}
	}

  .game-customization-form {
    background-color: #0B032D;
    width: 600px;
  }

  fieldset {
    font: 1.5rem 'Fira Sans', sans-serif;
    color: #FFB997;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    background-color: #843B62;
    width: 450px;

  }

  .input-box {
    display: flex;
    justify-content: flex-start;
    margin: 5%;
  }

  label {
    font-size: 1rem;
    margin-left: 5%;
  }

  legend {
    background-color: #FFB997;;
    color: #0B032D;
    padding: 4px 8px;
}

.submit-customizations {
  background-color: #F67E7D;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  color: #0B032D;
  align-self:
}

.slideout {
  position: fixed;
  /* transform: rotate(90deg); */
  font: Futura 5px;
  color: #ffdbbc;
  top: 300px;
  left: 0;
  height: 200px;
  width: 100px;
  padding: 10px;
  text-align: left;
  background: #100447;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0% 50% 50% 0%;
}

.slideout_inner {
  /* transform: rotate(-90deg); */
  font-size: 8px;
  font-style: normal;
  position: fixed;
  top: 0px;
  left: -250px;
  background: #100447;
  width: 200px;
  padding: 25px;
  height: 100%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-align: left;
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}
.slideout:hover {
  left: 250px;
}
.slideout:hover .slideout_inner {
  left: 0;
}


/* ====================T H E M E S =========================*/

/*~~~~~~~sherbet THEME ~~~~~~~~*/
.sherbet-background {
  background-image: linear-gradient(#f67e7d, #d84747);
}

.sherbet-gameboard {
  background: transparent;
}

.sherbet-square {
  border-color: #ff9334;
  shadow: 0 0 3px #af5686;
  color: #ffdbbc;
}

.sherbet-playerOne-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-color: #d30472;
}

.sherbet-playerTwo-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-color: #af5686;
}

.sherbet-button {
  background-color: #100447;
}

.sherbet-text {
  color: #ffdbbc;
  -webkit-text-stroke-color: #ff9334;
}




/*~~~~~~~~FRUIT BASKET THEME~~~~~~~~~~*/
.fruit-background {
  background-image: linear-gradient(#00C08A, #a4f9a9);
}

.fruit-gameboard {

}

.fruit-square {
  border-color: #ffd65e;
  shadow: 0 0 3px #af5686;
}

.fruit-playerOne-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-color: #e53737;
}

.fruit-playerTwo-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-color: #FF8B2C;
}

.fruit-button {
  background: #00C08A;
}

.fruit-text {

}


/*~~~~~~~~ WORMHOLE THEME ~~~~~~~~~~*/

.wormhole-background {
  background-image: url('https://media.giphy.com/media/TxVVB6PfWMjE4/source.gif');
}

.wormhole-square {
  border-color: #9768EF;
  shadow: 0 0 3px #af5686;
}

.wormhole-gameboard {

}

.wormhole-playerOne-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-image: url('https://i.imgur.com/pEnQyQT.gif');
  background-size: cover;
}

.wormhole-playerTwo-turn:hover {
  transition-timing: ease-in-out;
  transition: all 0.2s;
  background-image: url('https://media.giphy.com/media/3ohhwEZqxzKbNUHzji/giphy.gif');
  background-size: cover;
}

.wormhole-button {
  background: #00C08A;
}

.wormhole-text {
  color: #D6EBEC;
}


/*~~~~~~~~~~~MEDIEVAL THEME~~~~~~~~~~~*/

.player-sidebar-medieval {
  /* background-image: url('https://media.giphy.com/media/H4Pxd80TD17KolOfL1/source.gif');
  background-position: center; */
  background-color: #E9D7B4;
}

.game-board-square-medieval {
  border-color: #194679;
};


.game-play-box-medieval {
  /* medieval skeleton */
  background-image: url('https://media.giphy.com/media/xT0xelf5NTuwuKNb0Y/source.gif');
  background-size: 100%;
  /* beige background */
  /* background-color: #E9D7B4;*/
};
